html {
  font-size: 62.5%;
}

body {
  font-family: Lato, Helvetica;
  font-size: $m-size;
  background: #f5fff9;

}
button:focus{
  outline: none;
}
input:focus{
  outline: none
}
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.button-tags button {
  cursor: pointer;
  background: white;
  color: #2b770f;
  padding: 5px 20px;
  border-color: #11b511;
  margin-right: 5px;
  margin-top: 5px;

  .active-button {
    background: green;
    color: white;
  }
}



select {
  border-radius: 0;
  color: black;
  background: white;
  height: 40px;
  border: none;
  border-color: lightgreen;
}

button:disabled {
  cursor: default;
}

.is-active {
  border-left: 2px solid green;
  border-radius: 3px;
  padding:8px 0px 8px 10px;
  background: rgba(129, 255, 150, 0.303);
}

.nav a {
  text-decoration: none;
  margin-top: 10px;
  color: #006c00;
  padding: 5px;
  font-weight: 400;
}
