html {
  font-size: 62.5%;
}

body {
  font-family: Lato, Helvetica;
  font-size: $m-size;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  border: 1px solid green;
  border-radius: 3px;
  padding: 5px;
}

.nav a {
  text-decoration: none;
  margin-top: 10px;
  color: #006c00;
  padding: 5px;
  font-weight: 400;
}
