html {
  font-size: 62.5%;
}

body {
  font-family: Lato, Helvetica;
  font-size: $m-size;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

.nav a {
  text-decoration: none;
  margin-top: 10px;
  color: #006c00;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 5px;
}
